body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #FAFAFA;
}

th {
  color:#51734f;
}

.title {
  font-weight: normal;
}

td {
  text-align: center;
}

.main {
  background-color: #f0f5f5;
  opacity: 0.7;
}

td,
th {
  border: 1px solid #8aa899;
  padding: 0px;
  background-color: white;
}

table {
  border-collapse: collapse;
}

.table {
  margin-bottom: 5rem;
}

label {
  color: #51734f;
  font-size: 18px;
}

.time {
  font-weight: 500;
}

input {
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
}

.subtitle {
  margin-bottom: 30px;
}

textarea {
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid #456e58;
  padding: 10px;
}

textarea:focus{
  border-color: #8aa899;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(138, 168, 153, 0.25);
}

#currentDay,
#currentTime {
  font-weight: 600;
  color: #8aa899;
  font-size: 20px;
}

#currentTime {
  margin-bottom: 5rem;
}

.jumbotron {
  text-align: center;
  background-color: #8aa899;
  color: #fcffee;
  border-radius: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 8px solid #fcffee;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  height: 80px;
  border-top: 1px solid white;
  ;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  /* border-top: 1px dashed #000000; */
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #daa953;
  color: white;
}

.save {
  background-color: #8aa899;
  border-radius: 8px;
  padding: 12px 32px;
  color: white;
}

.save:hover {
  background-color: #51734f;
  transition: all .3s ease-in-out;
}